{{ define "main" }}
<div class="articles">
    {{ range .Paginator.Pages }}
    <div class="row article">
        <!--Date-->
        <article class="column column-90">
            <time class="date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                <span>{{- .Date.Format "January 2, 2006" -}}</span>
            </time>
            <!--Title-->
            <div class="title">
                <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            </div>
            <!--Content-->
            <div class="content">
                {{ .Summary }}
            </div>
        </article>
    </div>
    <a href="{{ .Permalink }}">[READ MORE]</a>
    <hr>
    {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{ end }}