<div class="row">
    <!--Footer-->
    <footer class="column">
        <div class="website-links text-center">
            {{ with .Param "tags" }}
            <span><a href="{{ . }}">Tags</a></span>
            {{ end }}
            {{ with .Param "tutorials" }}
            <span><a href="{{ . }}">Tutorials</a></span>
            {{ end }}
            {{ with .Param "blog" }}
            <span><a href="{{ . }}">Blog</a></span>
            {{ end }}
            {{ with .Param "aboutme" }}
            <span><a href="{{ . }}">About Me</a></span>
            {{ end }}
            {{ with .Param "impressum" }}
            <span><a href="{{ . }}">Impressum</a></span>
            {{ end }}
            {{ with .Param "Datenschutz" }}
            <span><a href="{{ . }}">Datenschutz</a></span>
            {{ end }}
        </div>
        <!--Theme Switcher-->
        <div class="theme-switcher text-center">
            <div class="input-group form-inline">
                <select class="custom-select" id="theme-selected" onchange="switchTheme()">
                    <option value="Light">Light</option>
                    <option value="Dark">Dark</option>
                    <option value="Cyberpunk">Cyberpunk</option>
                    <option value="Light-OpenDyslexic">Light-OpenDyslexic</option>
                    <option value="Dark-OpenDyslexic">Dark-OpenDyslexic</option>
                    <option value="Cyberpunk-OpenDyslexic">Cyberpunk-OpenDyslexic</option>
                </select>
            </div>
        </div>
        <!--Made with-->
        <div class="made-with text-center">
            <span>Made with ❤️ by KurzGedanke</span>
        </div>
    </footer>
</div>