<div class="row-center">
    <div class="header column column-80 text-center">
        <div class="headerline">
            <h1 id="head">KurzGedanke</h1>
        </div>
    </div>
</div>
<!--Social Icons-->
<div class="row-center">
    <div class="social column column-80 text-center">
        {{ with .Param "mastodon" }}
        <span><a href="{{ . }}">Mastodon</a></span>
        {{ end }}
        {{ with .Param "twitter" }}
        <span><a href="{{ . }}">Twitter</a></span>
        {{ end }}
        {{ with .Param "youtube" }}
        <span><a href="{{ . }}">YouTube</a></span>
        {{ end }}
        {{ with .Param "reddit" }}
        <span><a href="{{ . }}">Reddit</a></span>
        {{ end }}
        {{ with .Param "github" }}
        <span><a href="{{ . }}">GitHub</a></span>
        {{ end }}
        {{ with .Param "Gitlab" }}
        <span><a href="{{ . }}">Gitlab</a></span>
        {{ end }}
        {{ with .Param "email" }}
        <span><a href="{{ . }}">Email</a></span>
        {{ end }}
        {{ with .Param "pgp" }}
        <span><a href="{{ . }}">(PGP)</a></span>
        {{ end }}
        {{ with .Param "donate" }}
        <span><a href="{{ . }}">Donate</a></span>
        {{ end }}
        {{ with .Param "rss" }}
        <span><a href="{{ . }}">RSS</a></span>
        {{ end }}
    </div>
</div>