<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <!-- Javascript-->
    <script src="js/jquery.js"></script>
    <script src="js/stylechanger.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/milligram.min.css"/>
    <link id="theme" rel="stylesheet" type="text/css" href="">
</head>