<div class="row-center">
    <div class="header column column-80 text-center">
        <div class="headerline">
            <h1 id="head"><a href="{{ .Site.BaseURL }}">KurzGedanke</a></h1>
        </div>
    </div>
</div>
<!--Social Icons-->
<div class="row-center">
    <div class="social column column-80 text-center">
        {{ with .Param "mastodon" }}
        <span><a href="{{ . }}" target="_blank">Mastodon</a></span>
        {{ end }}
        {{ with .Param "twitter" }}
        <span><a href="{{ . }}" target="_blank">Twitter</a></span>
        {{ end }}
        {{ with .Param "youtube" }}
        <span><a href="{{ . }}" target="_blank">YouTube</a></span>
        {{ end }}
        {{ with .Param "reddit" }}
        <span><a href="{{ . }}" target="_blank">Reddit</a></span>
        {{ end }}
        {{ with .Param "github" }}
        <span><a href="{{ . }}" target="_blank">GitHub</a></span>
        {{ end }}
        {{ with .Param "Gitlab" }}
        <span><a href="{{ . }}" target="_blank">Gitlab</a></span>
        {{ end }}
        {{ with .Param "email" }}
        <span><a href="{{ . }}" target="_blank">Email</a></span>
        {{ end }}
        {{ with .Param "pgp" }}
        <span><a href="{{ . }}" target="_blank">(PGP)</a></span>
        {{ end }}
        {{ with .Param "donate" }}
        <span><a href="{{ . }}" target="_blank">Donate</a></span>
        {{ end }}
        {{ with .Param "rss" }}
        <span><a href="{{ . }}" target="_blank">RSS</a></span>
        {{ end }}
    </div>
</div>