$font-stack: Georgia, 'Times New Roman', Times, serif;
$white-bg: #0a000a;
$blue-link: #07e4b3;
$purple-link: #53375C;
$gray-highlight: #2b90d9;
$text-black: #d495df;

select {
    color: $text-black;
}