$font-stack: Georgia, 'Times New Roman', Times, serif;
$white-bg: #020100;
$blue-link: #507B8E;
$purple-link: #53375C;
$gray-highlight: #2b90d9;
$text-black: #FDFFFC;

select {
    color: $text-black;
}