@import '_light.scss';

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $white-bg;
    color: $text-black;
}

a {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    color: $blue-link;
    font-weight: bold;
}

article {
    margin: 5rem;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.header {
    text-align: center;
}

.text-center {
    text-align: center;
}

.social {
    text-align: center;
}

.content {
    font-size: 2rem;
}

.paginator {
    margin-top: 30px;
    color: $purple-link;
}

.website-links {
    margin: 5rem;
}

.made-with {
    margin: 3rem;
}

#head {
    a {
        color: $text-black
    }
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
    #head {
        font-size: 5.0rem;
    }

    .content {
        font-size: 2rem;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    #head {
        font-size: 10.0rem;
    }

    article {
        margin-left: 40rem;
        // margin-right: 40rem;
    }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
    #head {
        font-size: 12.0rem;
    }
}